@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HeaderFont';
  src: url('/src/assets/fonts/headerfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header{
  background-image: url('./assets//hero-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

